{% extends 'base.html' %}
{% load static %}

{% block title %}
    blog
{% endblock %}


{% block content %}
    <div class="wrapper">
        <!-- ========================  Blog ======================== -->

        <section class="blog blog-category blog-animated pt-0">
            <!--Content-->
            <header>
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Library</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Data</li>
                    </ol>
                    <h2 class="title">Blog grid fullwidth</h2>
                    <div class="text">
                        <p>Suspendisse scelerisque odio eu felis eleifend</p>
                    </div>
                </div>
            </header>
            <div class="container">


                <!--Blog content-->

                <div class="row">

                    <!--Blog item-->

                    {% for post in posts %}
                        <div class="col-sm-6 col-md-4">
                            {% include 'Layout/posts-grid.html' %}
                        </div>
                    {% endfor %}


                </div>

                <!--Pagination-->

                {% include "Layout/pagination.html" %}


            </div><!--/container-->
        </section>

    </div>
{% endblock %}
