{% extends 'base.html' %}

{% block title %}
    Profile
{% endblock %}


{% block content %}
    <div class="wrapper">

        <section class="login">

            <!--Header-->

            <header class="d-none">
                <div class="container">
                    <h2 class="title">Login & registration</h2>
                    <div class="text">
                        <p>Suspendisse scelerisque odio eu felis eleifend, vitae gravida magna iaculis. Vestibulum
                            volutpat, purus in consectetur porta, velit felis suscipit metus, et pharetra enim augue
                            suscipit est. Aenean non ante tortor. Nam egestas tincidunt turpis, quis accumsan est
                            vestibulum non</p>
                        <hr/>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Library</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Data</li>
                        </ol>
                    </div>
                </div>
            </header>

            <!--Content-->

            <div class="container">

                <div class="row">

                    <!-- === left content === -->

                    <div class="col-md-6 offset-md-3">

                        <div class="login-wrapper">

                            <!--signin-->

                            <div class="login-block login-block-signin">

                                <div class="h4">Sign in <a href="javascript:void(0);"
                                                           class="btn btn-main btn-sm btn-register pull-right">Create an
                                    account</a></div>

                                <hr/>

                                <div class="row">

                                    <div class="col-12">
                                        <div class="form-group">
                                            <input type="text" value="" class="form-control" placeholder="User ID">
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-group">
                                            <input type="password" value="" class="form-control" placeholder="Password">
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <span class="checkbox">
                                            <input type="checkbox" id="checkBoxId3">
                                            <label for="checkBoxId3">Remember me &nbsp;<a href="#">Forgot password?</a></label>
                                        </span>
                                    </div>

                                    <div class="col-12">
                                        <hr/>
                                        <a href="#" class="btn btn-primary">Sign in</a>
                                    </div>
                                </div>
                            </div> <!--/signin-->
                            <!--signup-->

                            <div class="login-block login-block-signup">

                                <div class="h4">Register now <a href="javascript:void(0);"
                                                                class="btn btn-main btn-sm btn-login pull-right">Already
                                    member?</a></div>

                                <hr/>
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input name="firstname" type="text" value="{{ form.firstname.value }}"
                                                       class="form-control"
                                                       placeholder="First name: ">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input name="lastname" type="text" value="{{ form.lastname.value }}"
                                                       class="form-control"
                                                       placeholder="Last name: ">
                                            </div>
                                        </div>

                                        <div class="col-md-12">

                                            <div class="form-group">
                                                <input name="companyname" type="text"
                                                       value="{{ form.companyname.value }}" class="form-control"
                                                       placeholder="Company name:">
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input name="zipcode" type="text" value="{{ form.zipcode.value }}"
                                                       class="form-control"
                                                       placeholder="Zip code: ">
                                            </div>
                                        </div>

                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <input name="city" type="text" value="{{ form.city.value }}"
                                                       class="form-control"
                                                       placeholder="City: ">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input name="email" type="text" value="{{ form.email.value }}"
                                                       class="form-control"
                                                       placeholder="Email: ">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input name="phone" type="text" value="{{ form.phone.value }}"
                                                       class="form-control"
                                                       placeholder="Phone: *">
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <hr/>
                                            <span class="checkbox">
                                            <input type="checkbox" id="checkBoxId1">
                                            <label for="checkBoxId1">I have read and accepted the <a href="#">terms</a>, as well as read and understood our terms of <a
                                                    href="#">business contidions</a></label>
                                        </span>
                                            <span class="checkbox">
                                            <input type="checkbox" id="checkBoxId2">
                                            <label for="checkBoxId2">Subscribe to exciting newsletters and great tips</label>
                                        </span>
                                            <hr/>
                                        </div>

                                        <div class="col-md-12">
                                            <button id="button" type="submit" class="btn btn-outline-dark">Create
                                                account
                                            </button>
                                        </div>
                                    </div>
                                </form>

                            </div> <!--/signup-->
                        </div> <!--/login-wrapper-->

                    </div> <!--/col-md-6-->

                </div>

            </div>
        </section>

    </div>
{% endblock %}

{% block extra_js %}
    <script>
        $("#button").click(function () {
            alert("Вашый данные успешна сохранены");
        });
    </script>
{% endblock %}


