{% extends  'base.html' %}
{% load static %}
{% block title %}
    product
{% endblock %}
{% block content %}
    <!-- ======================== Products ======================== -->

    <section class="product pt-0">

        <header>
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Library</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Data</li>
                </ol>
                <h2 class="title">{{ object.title }}</h2>
                <div class="text">
                    <p>Nam egestas tincidunt turpis</p>
                </div>
            </div>
        </header>

        <div class="main">
            <div class="container">
                <div class="row product-flex">

                    <div class="col-lg-4 product-flex-info">
                        <div class="clearfix">

                            <div class="clearfix">

                                <!--price wrapper-->

                                <div class="price">
                                        <span class="h3">
                                            $ {{ object.real_price }}
                                            {% if object.is_discount %}
                                                <small>$ {{ object.price }}</small>
                                            {% endif %}
                                        </span>
                                </div>

                                <hr/>

                                <!--info-box-->

                                <div class="info-box">
                                    <span><strong>Maifacturer</strong></span>
                                    <span>Brand name</span>
                                </div>

                                <!--info-box-->

                                <div class="info-box">
                                    <span><strong>Materials</strong></span>
                                    <span>{% for material in object.materials.all %}
                                        {{ material }}{% if not forloop.last %},{% endif %}
                                    {% endfor %}
                                    </span>
                                </div>

                                <hr/>


                                <!--info-box-->

                                <div class="info-box">
                                    <span><strong>Available Colors</strong></span>
                                    <div class="product-colors clearfix">
                                        {% for color in object.colors.all %}
                                            <span class="color-btn color-btn-{{ color.title }}"></span>
                                        {% endfor %}

                                    </div>
                                </div>

                                <hr/>

                                <div class="info-box">
                                        <span>
                                            Quantity
                                        </span>
                                    <span>
                                            <span class="row">
                                                <span class="col-6">
                                                    <input type="number" value="1" class="form-control">
                                                </span>
                                                <span class="col-6">
                                                    <a href="#" class="btn btn-danger">Buy now</a>
                                                </span>
                                            </span>
                                        </span>
                                </div>

                                <hr/>

                                <div class="info-box">
                                        <span>
                                            <small>*** We progress your order for shipping as soon as possible. Please note that after your order has been received, we can not change the delivery address. Control your address details in any case before placing your order!</small>
                                        </span>
                                </div>

                                <hr/>

                                <div class="info-box info-box-addto added">
                                        <span>
                                            <i class="add"><i class="fa fa-heart-o"></i> Add to favorites</i>
                                            <i class="added"><i class="fa fa-heart"></i> Remove from favorites</i>
                                        </span>
                                </div>

                                <div class="info-box info-box-addto">
                                        <span>
                                            <i class="add"><i class="fa fa-eye-slash"></i> Add to Watch list</i>
                                            <i class="added"><i class="fa fa-eye"></i> Remove from Watch list</i>
                                        </span>
                                </div>

                                <div class="info-box info-box-addto">
                                        <span>
                                        {#rating#}
{#                                              <form class="rating-widget">#}
{#                                                  <input type="checkbox" class="star-input" id="1"/>#}
{#                                                  <label class="star-input-label" for="1">1#}
{#                                                    <i class="fa fa-star"></i>#}
{#                                                    <i class="fa fa-star orange"></i>#}
{#                                                  </label>#}
{#                                                  <input type="checkbox" class="star-input" id="2"/>#}
{#                                                  <label class="star-input-label" for="2">2#}
{#                                                    <i class="fa fa-star"></i>#}
{#                                                    <i class="fa fa-star orange"></i>#}
{#                                                  </label>#}
{#                                                  <input type="checkbox" class="star-input" id="3"/>#}
{#                                                  <label class="star-input-label" for="3">3#}
{#                                                    <i class="fa fa-star"></i>#}
{#                                                    <i class="fa fa-star orange"></i>#}
{#                                                  </label>#}
{#                                                  <input type="checkbox" class="star-input" id="4"/>#}
{#                                                  <label class="star-input-label" for="4">4#}
{#                                                    <i class="fa fa-star"></i>#}
{#                                                    <i class="fa fa-star orange"></i>#}
{#                                                  </label>#}
{#                                                  <input type="checkbox" class="star-input" id="5"/>#}
{#                                                  <label class="star-input-label" for="5">5#}
{#                                                    <i class="fa fa-star"></i>#}
{#                                                    <i class="fa fa-star orange"></i>#}
{#                                                  </label>#}
{##}
{#                                                </form>#}
                                        {#rating end#}
                                        </span>
                                </div>

                            </div> <!--/clearfix-->
                        </div> <!--/product-info-wrapper-->
                    </div> <!--/col-lg-4-->
                    <!--product item gallery-->

                    <div class="col-lg-8 product-flex-gallery">

                        <!--product gallery-->

                        <div class="owl-product-gallery owl-carousel owl-theme open-popup-gallery">
                            {% for image in object.images.all %}
                                <a href='{{ image.image.url }}'><img src="{{ image.image.url }}" alt=""/></a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!--=========================== Comments & rating ============================-->

    <section class="product-details">

        <div class="container">

            <!--Tab links-->

            <ul class="nav nav-pills nav-pills-flat justify-content-center" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="tab-review-tab" data-toggle="tab" href="#tab-review" role="tab">
                        Reviews
                    </a>
                </li>
            </ul>

            <!--Tab content-->

            <div class="tab-content" id="pills-tabContent">

                <!--Tab description-->

                <div class="tab-pane fade show active" id="tab-review">

                    <div class="col-md-8 offset-md-2">

                        <!--Rating-->

                        <div class="rating">

                            <!--Rating overall====-->

                            <div class="rating-overall">

                                <div class="rating-header">

                                    <div class="row align-items-center">

                                        <div class="col-2">
                                            <div class="h1 m-0">4.8</div>
                                        </div>

                                        <div class="col-10">
                                            <div class="h3 m-0">User rating overall</div>
                                            <span>4.8 average based on 625 reviews</span>
                                        </div>

                                    </div>
                                </div>

                                <div class="row align-items-center">

                                    <div class="col-2">
                                        <p>5 <i class="fa fa-star"></i></p>
                                    </div>

                                    <div class="col-10">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 100%"
                                                 aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <p>4 <i class="fa fa-star"></i></p>
                                    </div>

                                    <div class="col-10">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 85%"
                                                 aria-valuenow="85" aria-valuemin="0" aria-valuemax="85"></div>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <p>3 <i class="fa fa-star"></i></p>
                                    </div>

                                    <div class="col-10">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 30%"
                                                 aria-valuenow="30" aria-valuemin="0" aria-valuemax="30"></div>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <p>2 <i class="fa fa-star"></i></p>
                                    </div>

                                    <div class="col-10">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 20%"
                                                 aria-valuenow="20" aria-valuemin="0" aria-valuemax="20"></div>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <p>1 <i class="fa fa-star"></i></p>
                                    </div>

                                    <div class="col-10">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 15%"
                                                 aria-valuenow="15" aria-valuemin="0" aria-valuemax="15"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!--Comments-->

                        <div class="comments">

                            <div class="comment-header">
                                <div class="h3 m-0">Recent comments</div>
                                <span>14 reviews for Bedroom product</span>
                            </div>

                            <div class="comment-wrapper" id="comment-action">

                                <!--Comment-->

                                {% for comment in object.get_comment %}
                                    <div class="comment-block">

                                        <!--Comment user-->

                                        <div class="comment-user">
                                            <div>
                                                <img src="{% static 'assets/images/user.jpg' %}" alt="Alternate Text"
                                                     width="70"/>
                                            </div>
                                            <div>
                                                <h5>
                                                    <span>{{ comment.name }}</span>
                                                    <span class="pull-right">
                                                        <i class="fa fa-star active"></i>
                                                        <i class="fa fa-star active"></i>
                                                        <i class="fa fa-star active"></i>
                                                        <i class="fa fa-star active"></i>
                                                        <i class="fa fa-star"></i>
                                                    </span>
                                                    <small>{{ comment.created_at|timesince }}</small>
                                                </h5>
                                            </div>
                                        </div>

                                        <!--Comment description-->

                                        <div class="comment-desc">
                                            <p>
                                                {{ comment.comment }}
                                            </p>
                                        </div>
                                    </div>
                                {% endfor %}


                                <!--Comment-->


                            </div><!--/comment-wrapper-->

                            <div class="comment-header text-center">
                                <a href="#" class="btn btn-main">12 comments</a>
                            </div>

                            <!--Add new comment-->

                            <div class="comment-add">

                                <div class="comment-reply-message">
                                    <div class="h3 title">Leave a Reply</div>
                                    <p>Your email address will not be published.</p>
                                </div>

                                <form method="post"
                                      action="{% url 'shop:product-comment' pk=object.pk %}#comment-action">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input name="name" type="text" class="form-control" value=""
                                               placeholder="Your Name"/>
                                    </div>
                                    <div class="form-group">
                                        <input name="email" type="text" class="form-control" value=""
                                               placeholder="Your Email"/>
                                    </div>
                                    <div class="form-group">
                                        <textarea name="comment" rows="10" class="form-control"
                                                  placeholder="Your comment"></textarea>
                                    </div>
                                    <div class="clearfix text-center">
                                        <button type="submit" class="btn btn-main">Add comment</button>
                                    </div>
                                </form>

                            </div><!--/comment-add-->

                        </div> <!--/comments-->

                    </div> <!--/col-md-8-->

                </div> <!--/tab-pane -->
                <!--Tab specification-->


                <!--Tab review-->


            </div> <!--/tab-content -->
        </div>

    </section>

    <!-- ========================  Popular products  ======================== -->

    {% if object.type.products %}
        <section class="products">

            <header>
                <div class="container">
                    <h2 class="title">Related products</h2>
                    <div class="text">
                        <p>Check out our latest collections. <br/> Make your dream come true!</p>
                    </div>
                </div>
            </header>

            <div class="container">

                <div class="row">

                    {% include 'Layout/products-grid.html' %}

                </div> <!--/row-->

                <div class="wrapper-more">
                    <a href="products-grid.html" class="btn btn-main btn-sm">View all products</a>
                </div>

            </div> <!--/container-->

        </section>
    {% endif %}

    <!-- ========================  Product popup ======================== -->

    <div class="popup-main mfp-hide" id="productid1">

        <!--Product popup-->

        <div class="product">

            <!--Popup-title -->

            <div class="popup-title">
                <div class="h3 title">
                    Modern sofa
                    <small>product category</small>
                </div>
            </div>

            <!--Product gallery-->

            <div class="owl-product-gallery owl-theme owl-carousel">
                {% for image in object.images.all %}
                    <img src="{{ image.url }}" alt="" width="640"/>
                {% endfor %}


            </div>

            <!--Popup info-->

            <div class="popup-content">
                <div class="product-info-wrapper">
                    <div class="row">

                        <!--Left side-->

                        <div class="col-sm-6">
                            <div class="info-box">
                                <strong>Maifacturer</strong>
                                <span>Brand name</span>
                            </div>
                            <div class="info-box">
                                <strong>Materials</strong>
                                <span>Wood, Leather, Acrylic</span>
                            </div>
                            <div class="info-box">
                                <strong>Availability</strong>
                                <span><i class="fa fa-check-square-o"></i> in stock</span>
                            </div>
                        </div>

                        <!--Right side-->

                        <div class="col-sm-6">
                            <div class="info-box">
                                <strong>Available Colors</strong>
                                <div class="product-colors clearfix">
                                    <span class="color-btn color-btn-red"></span>
                                    <span class="color-btn color-btn-blue checked"></span>
                                    <span class="color-btn color-btn-green"></span>
                                    <span class="color-btn color-btn-gray"></span>
                                    <span class="color-btn color-btn-biege"></span>
                                </div>
                            </div>
                            <div class="info-box">
                                <strong>Choose size</strong>
                                <div class="product-colors clearfix">
                                    <span class="color-btn color-btn-biege">S</span>
                                    <span class="color-btn color-btn-biege checked">M</span>
                                    <span class="color-btn color-btn-biege">XL</span>
                                    <span class="color-btn color-btn-biege">XXL</span>
                                </div>
                            </div>
                        </div>

                    </div> <!--/row-->
                </div> <!--/product-info-wrapper-->
            </div> <!--/popup-content-->

            <div class="popup-table">
                <div class="popup-cell">
                    <div class="price">
                        <span class="h3">$ 1999,00 <small>$ 2999,00</small></span>
                    </div>
                </div>
                <div class="popup-cell">
                    <div class="popup-buttons">
                        <a href="product.html"><span class="icon icon-eye"></span> <span
                                class="hidden-xs">View more</span></a>
                        <a href="javascript:void(0);"><span class="icon icon-cart"></span> <span
                                class="hidden-xs">Buy</span></a>
                    </div>
                </div>
            </div>

        </div> <!--/product-->
    </div>
{% endblock %}


