<section class="benefits">
    {% load i18n %}
    <!--Header-->

    <header class="d-none">
        <div class="container">
            <h2 class="h2 title">{% trans 'Benefits' %}</h2>
        </div>
    </header>

    <!--Header-->

    <div class="container">

        <div class="row">

            <!--Icon-->

            <div class="col-6 col-lg-3" data-tilt>
                <figure>
                    <div class="icon"><i class="icon icon-gift"></i></div>
                    <figcaption>
                        {% blocktrans %}
                                    <span>
                                    <strong>Get your gift</strong> <br/>
                                    <small>Are you a new customer?</small>
                                </span>
                          {% endblocktrans %}
                    </figcaption>
                </figure>
            </div>

            <!--Icon-->

            <div class="col-6 col-lg-3" data-tilt>
                <figure>
                    <div class="icon"><i class="icon icon-rocket"></i></div>
                    <figcaption>
                        {% blocktrans %}
                                    <span>
                                    <strong>Fast delivery</strong> <br/>
                                    <small>We're shipping all over the world</small>
                                </span>
                       {% endblocktrans %}
                    </figcaption>
                </figure>
            </div>

            <!--Icon-->

            <div class="col-6 col-lg-3" data-tilt>
                <figure>
                    <div class="icon"><i class="icon icon-history"></i></div>
                    <figcaption>
                        {% blocktrans %}
                            <span>
                                    <strong>Money-back guarantee</strong> <br/>
                                    <small>30 day money back gurantee</small>
                                </span>
                        {% endblocktrans %}
                    </figcaption>
                </figure>
            </div>

            <!--Icon-->

            <div class="col-6 col-lg-3" data-tilt>
                <figure>
                    <div class="icon"><i class="icon icon-diamond"></i></div>
                    <figcaption>
                        {% blocktrans %}
                            <span>
                                    <strong>VIP discounts</strong> <br/>
                                    <small>Become VIP member</small>
                                </span>
                        {% endblocktrans %}
                    </figcaption>
                </figure>
            </div>
        </div> <!--/row-->

    </div> <!--/container-->

</section>