<article>
    <a href="article.html" class="blog-link">
        <div class="image"
             style="background-image:url( {{ post.image.url }} )">

            <img src="{{ post.image.url }}" alt=""/>

        </div>
        <div class="entry entry-table">
            <div class="date-wrapper">
                <div class="date">
                    <span>{{ post.created_at|date:'M'}}</span>
                    <strong>{{ post.created_at|date:'y' }}</strong>
                    <span>{{ post.created_at|date:'Y' }}</span>
                </div>
            </div>
            <div class="title">
                <a href="{% url 'blog:post-detail' pk=post.pk %}">
                    <h2 class="h5">{{ post.title|truncatewords:8 }}</h2>
                </a>
            </div>
        </div>
    </a>
</article>